manifest {
  name = 'openscpca-nf'
  description = 'A workflow to run modules from the OpenScPCA project.'
  author = "Childhood Cancer Data Lab, Alex's Lemonade Stand Foundation"
  homePage = 'https://github.com/AlexsLemonade/openScPCA-nf'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = 'v0.0.1'
  nextflowVersion = '>=22.10.0'
}

nextflow.enable.moduleBinaries = true

// global parameters for workflows
params {
  release_bucket = "232123435055-batch"
  release_prefix = "current"

  // Resource maximum settings
  max_cpus = 2 //24
  max_memory = 3.5GB //96.GB
}

// Load base process config with labels
includeConfig 'config/process_base.config'

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = true
    docker.userEmulation = true
  }
  stub {
    process.executor = 'local'
    docker.enabled = false
  }
  wave {
    includeConfig 'config/profile_wave.config'
  }
}
